
// ======================================================
// SANNY'S SASS TEMPLATE FOR WEBSITE DEVELOPMENT PROJECTS
// ======================================================
//
// Base styles can go here

// Global
body {
    background: $body-bg;
    line-height: 1.6;
}

// Header
.header {
    background: $white;
    height: 136px;
    justify-content: center;

}

// Content
.container {
    background: $container-bg;
}
.featured-heading {
    height: em(128px);
    justify-content: center;
}
footer {
    background: $white;
    height: 115px;
    padding: calc((115px - 45px) /2);
    justify-content: center;
}

// Cat Stories
.story-text {
    padding: 4px 33px;
    min-height: 165px;
}
h2 {
    font-family: $font-family--primary;
    color: $heading;
    font-size: em(30px);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

h3 {
    font-family: $font-family--primary;
    font-size: em(20px);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: em(22px);
    margin-bottom: em(23px);

}

p {
    font-family: $font-family--secondary;
    font-size: em(15px);
}

// Footer
footer .footer-logo {
    height: 45px;
    justify-content: center;
}


// Links
a {
    color: $heading;
    transition: .3s;
}
a:hover {
    color: $blue;
}
