// ======================================================
// SANNY'S SASS TEMPLATE FOR WEBSITE DEVELOPMENT PROJECTS
// ======================================================
//
// SASS VARIABLES
// Here's where you setup all your Sass variables
// =========

// FONTS
// List all your font URLs and font family categories here
// =========
$font-url--google-primary           : 'https://fonts.googleapis.com/css?family=Montserrat';
$font-family--primary               : 'Montserrat', sans-serif;
$font-family--secondary             : 'Georgia', serif;

// FONT WEIGHTS
// Definite your font weights here, but only what you need
// =========
$thinner    : 100;
$thin       : 300;
$normal     : 400;
$bold       : 700;
$bolder     : 900;



// DESCRIPTIVE NAMES FOR COLORS
// List all the color codes you are using here and give them a name you can remember
// =========
$white              : #FDFEFF;
$body-bg            : #DEDEDE;
$container-bg       : #D6D7D8;
$heading            : #363738;
$text               : #313233;
$blue               : #00AEEF;


// FONT TEXT VARIABLES
// Assign the pixel sizes of these font variables for use in your project.
// =========
$base__font-size    : 16px;
$base__line-height  : em(24px);
$letter-space       : 1px;


// TRANSITION VARIABLES
// Assign these transition variables for use in your project.
// =========



// BOOTSTRAP / MATERIAL TWEAKS
// Override defaults from CSS framework here
// =========
